//Colors
$body-text-color: #444;
$primary-link-color: #ed1c24;
$secondary-link-color: #757575;

//Text
$font-size-rem: 1.4rem;
$line-height-rem: 2.4rem;
$line-height-em: ($line-height-rem/$font-size-rem) + em;
$half-line-height-rem: ($line-height-rem / 2);
$half-line-height-em: (($line-height-rem/$font-size-rem) / 2) + em;
$twice-line-height-rem: ($line-height-rem * 2);
$twice-line-height-em: (($line-height-rem/$font-size-rem) * 2) + em;

//Grid
$max-width: 960;
$max-width-px: $max-width + px;
$max-width-rem: $max-width/10 + rem;